nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
footer {
  width: 100%;
  margin-top: 150px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.link-container {
  padding-bottom: 25px;
}

.link-container #portfolio {
  margin-right: 40px;
}

.link {
  padding-bottom: 10px;
  color: #1f2124;
  font-weight: bold;
  cursor: pointer;
}

.selected {
  border-bottom: 3px solid blue;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.footer-container .icon-container {
  display: flex;
  flex-direction: column;
}
.footer-container .icon-container > span {
  margin-bottom: 20px;
}
.footer-container .icon-container > a {
  margin-top: 10px;
  cursor: pointer;
}

.footer-container #contact {
  margin-right: 40px;
}
